html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.flex-column{
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}
.flex {
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.card{
  padding : 20px;
  box-shadow: 1px 1px 20px  rgb(210, 210, 210);
  border-radius: 5px;

}
.basic-input{
  padding : 0.8em 1.2em;
  margin-bottom: 10px;
}
.btn{
  border: none;
  border-radius: 5px;
 padding : 5px 15px;
 cursor: pointer;
}
.btn:disabled {
 cursor: default;
}
.btn-primary{
  background-color:rgb(29, 103, 241);
  color: white;
  padding : 0.8em 1.2em;

}
.h-100vh{
  height: 100vh;
}
.mt-1{
  margin-top: 1rem;
}
.mb-0_5{
  margin-bottom: 0.5rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.w-100{
  width: 100%;
}
.gap-0_5{
  gap: 0.5rem;
}
.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.pointer{
  cursor: pointer;
}
.kep-login-facebook{
  padding : 0.8em 1.2em !important;
  border-radius: 5px !important;
  font-size: 0.9rem !important;
  font-weight:  normal !important;

}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
